*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(185, 75%, 39%);
}

.avatar{
    border-radius: 50px;
    width: 70px;
    height: 70px;
}






/*Atribution*/
.attribution {
     font-size: 11px; text-align: center;
     }
.attribution a {
     color: hsl(228, 45%, 44%);
     }
